<h1>Editar Nota</h1>

<%= form_with(model: @note, local: true) do |form| %>

<% if @note.errors.any? %>
  <% @note.errors.full_messages.each do |message| %>
    <p>
      <%= message %>
    </p>
  <% end %>
<% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Voltar', notes_path %>
